{% extends "AppMetal/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="text-white fs-3 fw-bolder">Resultado de Busqueda Ingresante</h1>
<p class="text-white-50 mb-0">Escuela de Rock</p>

{% endblock %}

{% block otro_contenido %}
<h1>Busqueda de Ingresantes</h1>

{% if ingresante %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Instrumento</th>
        </tr>
    </thead>
    <tbody>
        {% for Ingresante in ingresante %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ Ingresante.nombre}}</td>
            <td>{{ Ingresante.apellido }}</td>
            <td>{{ Ingresante.instrumento }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %} 
<p>No se encontro al Ingresante.</p>

{% endif %}

{% endblock %}